
extends layout

mixin link(article)
  if block
    if article.metadata.externalUrl
       a(href=article.metadata.externalUrl target="_blank")
         block
    else 
       a(href=article.url)
         block
  else
    text No Content for the Link

block content
  if articles
    each article in articles
      article.article.intro
        header
          h2
            +link(article)
              = article.title

        - var klass = 'content'
        if article.metadata.withImage
          - klass = 'content withImage'
        section(class=klass)
            if article.metadata.withImage
              +link(article)
                img.left(src=article.url + article.metadata.withImage)
            if article.intro.length > 0
              != typogr(article.intro).typogrify()
  else
    h2 If there is nothing here, but no one is there to see it, does it exist?
